body{
	background-color: #52596b;
	background-image:
    url(https://raw.githubusercontent.com/michaelmartinezcampos/GA-Web-Design-Class/master/Assets/background.jpg);
    }
img{
	background-repeat: repeat-x; 
}

h1{
	font-weight: bold;
	margin-left: 5 %;
	line-height: 1.5;
    font-color:white;
}

h2{margin-left: 5 %;
   font-color:white;}


hr{ float: left;
	width: 5 %;
	color: #905d67; }

a{
	text-decoration: none;
 } 


